// sass --watch style.scss:style.css
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";


$title-font: "Sarala", sans-serif;
$body-font: "Satisfy", cursive;
// color scheme
$background-color: #babdd1;
$accentB-color: #1c2466;
$accentP-color: #767ba3;
$title-color: #1b1f46;
@mixin home-span {
    line-height: 3rem;
    letter-spacing: 0.2rem; 
    display: grid;
    padding-top: 10px;
    font-size: 26px;
    padding-bottom: 10px;
  }
* {
  margin: 0;
  padding: 0;
//   font-family: $body-font;
}


// fonts









.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;

}


// Navbar
.navbar {
  background-color: $background-color;
}



.navbar {
  img {
    width: 50px;
    height: 50px;
   
  }
}

// home

.greeting {
  background-color: $accentP-color;
  width: 100%;
  padding: 10px;
  span {
    @include home-span;
  }
}

.descript {
  background-color: $accentB-color;
  width: 100%;
  color: #fff;
  padding: 10px;
  span {
    @include home-span;
    // color: #fff;
  }
}

.title{
    text-align: center;
    background-color: $title-color;
    color: #fff;
    padding: 30px;
    font-family: $title-font;
    text-transform: uppercase;
}



.greeting span:nth-child(2){
    justify-content: center;
}

.greeting span:nth-child(3){
    justify-content: flex-end;
    
}
.descript span{
    justify-content: center;
   
}


// All Pages
#about, #skills, #projects, #contact{
    padding-top: 25px;
    padding-bottom: 20px;
}

.about-me, .my-skills, .my-projects, .my-contact{
    padding: 20px;
    background-color: $background-color;
}

// About Me
.about-me img{
    width: 30%;
    float: right;
    border-radius: 10px;
}

.about-me p{
    display: inline;
}

// Skills
.ldBar{
    width: 100%;
}

.fundamentals{
    justify-content: flex-end;
}

// Projects

.card img{
    width: 100%;
}

.card{
    text-align: center;
    margin-bottom: 20px;
}

.fundamentals, .libraries{
    padding-bottom: 30px;
}

.fundamentals span{
    float: left;
    
}
.ldBar{
    float: right;
}



.my-contact{
    letter-spacing: 2px;
    line-height: 2.4rem;
}

